# vscode
*.vscode

# executable files
0-isupper
1-isdigit
2-mul
3-print_numbers
4-print_most_numbers
5-more_numbers
6-print_line
7-print_diagonal
8-print_square
9-fizz_buzz
10-print_triangle
100-prime_factor
101-print_number
*.dSYM
